@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(12, 12, 12);
    max-width: 100vw;
    overflow-x: hidden;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header .background {
    background: rgb(12, 12, 12);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header .header_content {
    height: 100%;
    width: 100%;
    display: flex;
}

.header_logo {
    margin-left: 50px;
    flex-grow: 1;
    margin: auto 0;
}

.header_logo a {
    display: block;
    width: 15rem;
    margin: 0 auto;
}

.header_logo a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav_menu {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu_shop {
    margin-right: 5rem;
}

.nav_menu_shop .nav_link {
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav_menu_shop .nav_link:hover {
    color: rgb(187, 187, 187);
}

.nav_menu ul li {
    margin: 0 3rem;
    display: inline-block;
}

.nav_menu ul li .nav_link {
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav_menu ul li .nav_link:hover {
    color: rgb(187, 187, 187);
}

.project_container {
    height: 100vh;
    position: relative;
    margin-top: 20px;
}

.project_container .background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project_container .background.one {
    background-image: url(../assets/images/starship.webp);
}

.project_container .background.two {
    background-image: url(../assets/images/mars.webp);
}

.project_container .background.three {
    background-image: url(../assets/images/starlink.webp);
}

.project_text {
    color: white;
    position: absolute;
    bottom: 20%;
    left: 20%;
    overflow: hidden;
}

.project_text .project_button {
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;
    min-width: 130px;
    padding: 0 30px;
    margin: 30px 0 0;
    border: 2px solid #fff;
}

.project_text .project_button .text {
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.project_text .project_button .text:hover {
    color: rgb(187, 187, 187);
}

.starship_project_info {
    height: 100vh;
    position: relative;
    margin: 50 0;
}

.starship_project_info .project_info_text .text1 {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.starship_project_info .project_info_text .text2 {
    margin-left: 5rem;
    margin-bottom: 10rem;
}

.mars_project_info .project_info_text.text1 {
    text-align: right;
    margin-bottom: 3rem;
}

.mars_project_info .project_info_text .text2 {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.starship_project_info .background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.starship_video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    max-height: 100%;
}

.starship_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.starship_project_info .background.one {
    background-image: url(../assets/images/starship2.webp);
}

.starship_project_info .background.two {
    background-image: url(../assets/images/raptor_engine.webp);
}

.starlink_project_info {
    height: 100vh;
    position: relative;
    margin: 50 0;
}

.starlink_project_info .background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.starlink_project_info .background.one {
    background-image: url(../assets/images/starlink2.webp);
}

.starlink_project_info .background.two {
    background-image: url(../assets/images/starlink3.webp);
}

.mars_project_info {
    height: 100vh;
    position: relative;
    margin: 50 0;
}

.mars_project_info .background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mars_project_info .background.one {
    background-image: url(../assets/images/mars2.webp);
}

.mars_project_info .background.two {
    background-image: url(../assets/images/mars3.webp);
}

.project_info_text {
    color: white;
    position: absolute;
    bottom: 20%;
    overflow: hidden;
}

.project_info_text .text {
    font-size: 1.5rem;
    list-style-type: none;
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    text-align: left;
    margin: 0 0 1rem auto;
    font-weight: 1000;
}

.footer {
    color: rgb(52, 85, 107);
    margin: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.footer_text {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    font-weight: 200;
    color: rgb(224, 224, 224);
    margin: 50;
}

.footer_list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50 1rem;
    padding-top: 1rem;
    margin: 0;
}

.footer_list li {
    margin: 0 10px 10px 0;
}

.footer_link {
    color: white;
    font-weight: 500;
    transition: color 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.footer_link:hover {
    color: rgb(187, 187, 187);
}